extends ../base

block head
	title Главная страница
block content
	.wrapper
		.container
			section.section.hero
				.hero__bg
					img.hero__bg-img(src=require("../../../images/background/bg.jpg") alt="")
				.hero__sec
					img.hero__sec-img(src=require("../../../images/icons/about_header_white.svg") alt="")
				header.head
					ul.socials
						li.socials__item
							a.socials__link(href='https://vk.com/dima33333')
								span.icon-vk.icon
						li.socials__item
							a.socials__link(href='https://github.com/sokol69')
								span.icon-github.icon
						li.socials__item
							a.socials__link(href='#')
								span.icon-in.icon
					.head__menu
						span.icon-hamburger#hamburger-menu.icon
				.hero__title
					.section-title
						img.section-title__pic(src=require("./img/ava_small.jpg") alt="Аватарка")
					.hero__user.user
						h2.user__name Дмитрий Соколов
						.user__data Личный сайт веб-разработчика
				.hero__arrow.arrow-down#arrow-down
					a(href='#about')
						span.icon-arrow_down.icon

			section.section.about#about
				.triangle-box
					svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangles")
						polygon(class="triangle__left" points="0,0 0,86 500.8,86 500.8,75.5")
						polygon(class="triangle__right" points="1000,0 1000,86 500,86 500,75.5")
				.about__wrap
					.about__left
						.about__title_wrap.title-rectangle__wrap
							.rectangle
							.about__left_title.title Обо мне
							.rectangle
						.user-desc
							img.user-desc__image(src=require("./img/ava_altay.jpg") alt="Аватарка")
							.title-rectangle__wrap
								.rectangle
								.user-desc__title.subtitle Кто я
								.rectangle
							.text-block.user-desc__text
								p Меня зовут Дмитрий. Я живу в городе под названием Тверь. Последний год серьёзно увлекаюсь веб-программированием. Данная область меня привлекла своей обширностью и динамичным темпом развития.
								p Моя главная цель на сегодняшний день - получить должность Junior Web Developer'а. Это позволит мне не только более интенсивно развиваться, но и зарабатывать на том, что мне действительно нравится!
					.about__right
						.title-rectangle__wrap
							.rectangle
							.about__right-title.subtitle Чем я могу быть <br> вам полезен
							.rectangle
						.text-block.about__right-desc
							p Больше всего меня привлекет Frontend разработка, также я знаком и могу решать не сложные задачи на Backend. Но давайте по порядку. 
						.about__right-content
							ul.skills-list
								li.skills-list__item Frontend
									ul.skills-row__list
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-90(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title HTML

										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-90(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title CSS
										li.skills-row__item.js
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-80(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title JS
								li.skills-list__item Backend
									ul.skills-row__list
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-20(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title PHP
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-15(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title MySQL
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-30(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title Node.js<br>& npm
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-10(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title Mongo.db
								li.skills-list__item Workflow
									ul.skills-row__list
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-40(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title Git
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-40(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title Gulp
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-50(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title Webpack
			section.section.map
				.google-map#map
				.contacts
					.contacts__title.title-rectangle__wrap
						.rectangle
						.subtitle#contact-title Контакты
						.rectangle
					ul.contacts__list
						li.contacts__item
							span.icon-skype.icon-contact.icon-small
							span sokolov3369
						li.contacts__item
							span.icon-envelope.icon-contact
							span sokolov333d@gmail.com
						li.contacts__item
							span.icon-phone.icon-contact
							span +7 920 180 9445
						li.contacts__item
							span.icon-map_marker.icon-contact.icon-small
							span г.Тверь, Заволжский р-н
		footer.footer
			.footer__top
				.footer__top_left
					nav.footer__nav
						ul.footer__nav_list
							li.footer__nav_list_item
								a.nav__list_link(href='works.html') Мои работы
							li.footer__nav_list_item
								a.nav__list_link(href='about.html') Обо мне
							li.footer__nav_list_item
								a.nav__list_link(href='blog.html') Блог
							li.footer__nav_list_item
								a.nav__list_link(href='index.html') Авторизация
				.footer__top_right
					.footer__social
							ul.footer__social_list
								li.footer__social_list_item
									a.footer__social_link(href="https://vk.com/dima33333")
										span.icon-vk_round.icon-round
								li.footer__social_list_item
									a.footer__social_link(href="https://github.com/sokol69")
										span.icon-github_round.icon-round
								li.footer__social_list_item
									a.footer__social_link(href="#")
										span.icon-in_round.icon-round
			.footer__bottom
				.footer__bottom_left Я веб-разработчик из Твери и этот сайт я делал в рамках обучения в Школе онлайн образования LoftSchool
				.footer__bottom_right &copy;Соколов Дмитрий | создано с любовью в loftschool | 2017
