extends ../base

block head
	title Главная страница
block content
	.wrapper
		.container
			section.section.hero
				header.head
					ul.socials
						li.socials__item
							a.socials__link(href='#')
								span.icon-vk.icon
						li.socials__item
							a.socials__link(href='#')
								span.icon-github.icon
						li.socials__item
							a.socials__link(href='#')
								span.icon-in.icon
					.head__menu
						span.icon-hamburger#hamburger-menu
				.hero__title
					.section-title
						img.section-title__pic(src=require("./img/avag.jpg"))
					.hero__user.user
						h2.user__name Дмитрий Соколов
						.user__data Личный сайт веб-разработчика
				.hero__arrow.arrow-down
					span.icon-arrow_down

			section.section.about
				.triangle-box
					svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangles")
						polygon(class="triangle__left" points="0,0 0,86 500.8,86 500.8,75.5")
						polygon(class="triangle__right" points="1000,0 1000,86 500,86 500,75.5")
				.about__wrap
					.about__left
						.about__left_title.title Обо мне
						.user-desc
							img.user-desc__image(src=require("./img/avag.jpg"))
							.user-desc__title.subtitle Кто я
							.text-block.user-desc__text
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, sint quaerat architecto iusto incidunt enim a ipsam velit hic et veniam, tempore cum veritatis earum error expedita provident eos. Quis?
								p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor commodi natus quasi accusantium odit ipsa perspiciatis eos similique quaerat exercitationem iste quidem tempore harum cumque reprehenderit, minima fugit iure numquam.
					.about__right
						.about__right-title.subtitle Чем я могу быть <br> вам полезен
						.text-block.about__right-desc
							p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку. 
						.about__right-content
							ul.skills-list
								li.skills-list__item Frontend
									ul.skills-row__list
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-80(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title HTML

										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-80(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title CSS
										li.skills-row__item.js
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-60(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title JS
								li.skills-list__item Backend
									ul.skills-row__list
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-20(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title PHP
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-15(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title MySQL
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-50(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title Node.js<br>& npm
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-0(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title Mongo.db
								li.skills-list__item Workflow
									ul.skills-row__list
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-40(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title Git
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-40(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title Gulp
										li.skills-row__item
											svg.circles(viewbox='0 0 110 110')
												circle.circle__first(r='45' cx='50%' cy='50%' fill='none')
												circle.circle__second.circle-50(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)')
											span.circles__title Webpack
			section.section.map#map
				.google-map
					iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17444.24338991612!2d35.8959737140941!3d56.87114779882298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1513240191853" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen)
				.contacts
					.contacts__title
						.subtitle Контакты
					ul.contacts__list
						li.contacts__item
							span.icon-skype.icon-contact.icon-small
							span sokol69
						li.contacts__item
							span.icon-envelope.icon-contact
							span sokolov333d@gmail.com
						li.contacts__item
							span.icon-phone.icon-contact
							span +7 915 736 1445
						li.contacts__item
							span.icon-map_marker.icon-contact.icon-small
							span г.Тверь, ул. Луначарского д. 34
		footer.footer
			.footer__top
				.footer__top_left
					nav.footer__nav
						ul.footer__nav_list
							li.footer__nav_list_item
								a.nav__list_link(href='works.html') Мои работы
							li.footer__nav_list_item
								a.nav__list_link(href='about.html') Обо мне
							li.footer__nav_list_item
								a.nav__list_link(href='blog.html') Блог
							li.footer__nav_list_item
								a.nav__list_link(href='index.html') Авторизация
				.footer__top_right
					.footer__social
							ul.footer__social_list
								li.footer__social_list_item
									span.icon-vk_round.icon-round
								li.footer__social_list_item
									span.icon-github_round.icon-round
								li.footer__social_list_item
									span.icon-in_round.icon-round
			.footer__bottom
				.footer__bottom_left Я веб-разработчик из Твери и этот сайт я делал в рамках обучения в Школе онлайн образования LoftSchool
				.footer__bottom_right &copy;Соколов Дмитрий | создано с любовью в loftschool | 2017
