@font-face {
	font-family: "Roboto";
	src: url(/source/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Bernier";
	src: url(/source/fonts/BERNIERDistressed-Regular.otf);
}

*{
	box-sizing: border-box;
}

html,body{
	font: 16px/1.5em;
	font-family:'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: white;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.container {
	flex: 1 0 auto;
}

.section{
	height: 100vh;
	width: 100%;
	display: flex;
}

.title{
	font-family: 'Bernier', sans-serif;
	font-size: 3.9rem;
	margin: 4.3rem 0;
}
.subtitle{
	font-family: 'Bernier', sans-serif;
	font-size: 2.19rem;
	margin: 2.5rem 0;
}

/*--------Hero-----------*/

.hero{
	background: url(../../../images/background/bg.jpg) no-repeat;
	background-size: cover;
	flex-direction: column;
}

.head{
	width: 100%;
	height: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.socials{
	display: flex;
	flex-direction: row;
}

.socials__item{
	margin: .6rem 1.25rem;
}

.head__menu{
	margin: 1.25rem;
}

.hero__title{
	width: 21rem;
	height: 26.5rem;
	color: #fff;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-title{
	display: flex;
	justify-content: center;
}

.hero__user{
	text-align: center;
}

.user__data{
	color: #cfdbdf;
}

.section-title__pic{
	height: 9rem;
	width: 9rem;
	max-width: 100%;
	border-radius: 50%;
}

.user__name{
	font-size: 2rem;
}



.arrow-down{
	widows: 2vw;
	height: 10vh;
	margin: 0 auto 2rem auto;
}

/*--------About-----------*/


.about{
	height: 160vh;
	color: rgb(52, 62, 66);
	display: flex;
	flex-direction: column;
}

.triangle-box{
	width: 100%;
	margin-top: -8vw;
	height: 8vw;
}

.triangle__left{
	fill: rgb(239, 238, 233);
}

.triangle__right{
	fill: rgb(240, 230, 194);
}

.about__wrap{
	display: flex;
	flex-direction: row;
	height: 100%;
}

.about__left{
	width: 50%;
	text-align: center;
	background: rgb(239, 238, 233);
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.about__right{
	width: 50%;
	text-align: center;
	background: rgb(240, 230, 194);
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.text-block{
	width: 27.8rem;
	text-align: left;
}

.user-desc{
	margin: 0 auto;
}

.user-desc__image{
	max-width: 100%;
	width: 27.8rem;
	height: 24.4rem;
	margin: 0 auto;
}


.about__right-desc{
	padding: 1.25rem;
}

.skills-list{
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: space-around;
}

.skills-list__item{
	font-weight: bold;
	font-size: 1.25rem;
	margin: 1.25rem 0;
}

.skills-row__list{
	display: flex;
	flex-flow: row wrap;
	font-weight: normal;
	color: #00ccad;
	margin: .6rem;
}

.skills-row__item{
	margin: 1.25rem;
	font-size: .75rem;
	height: 6.25rem;
	width: 6.25rem;
	text-align: center;
	position: relative;
}

.circles__title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: bold;
}

.circles{
	fill: none;
	stroke-width: 15;
}

.circle__first{
	stroke: #dfdcd5;
}

.circle__second{
	stroke: #1bb696;
	stroke-dasharray: .0010 282.6;
	transition: all 1s;
}

.circle-0{
	stroke-dasharray: .001 282.6;
}
.circle-10{
	stroke-dasharray: 28.26 282.6;
}
.circle-15{
	stroke-dasharray: 42.39 282.6;
}
.circle-20{
	stroke-dasharray: 56.52 282.6;
}
.circle-30{
	stroke-dasharray: 84.78 282.6;
}
.circle-35{
	stroke-dasharray: 98.91 282.6;
}
.circle-40{
	stroke-dasharray: 113.04 282.6;
}
.circle-45{
	stroke-dasharray: 127.17 282.6;
}
.circle-50{
	stroke-dasharray: 141.3 282.6;
}
.circle-60{
	stroke-dasharray: 169.56 282.6;
}
.circle-70{
	stroke-dasharray: 183.96 282.6;
}
.circle-80{
	stroke-dasharray: 226.08 282.6;
}
.circle-90{
	stroke-dasharray: 254.34 282.6;
}
.circle-100{
	stroke-dasharray: 282.6 282.6;
}

/*--------Map-----------*/
.map{
	position: relative;
	height: 100vh;
	max-height: 1000px;
}

.google-map{
	width: 100%;
	height: 100%;
}

.contacts{
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translate(-50%, -50%);
	z-index: 5;
	color: rgb(52, 62, 66);
	width: 22rem;
	height: 19rem;;
	background: rgba(255, 255, 255, 0.6);
	border-radius: .5rem;
	max-width: 430px;
}

.contacts__title{
	text-align: center;
	margin: 2rem auto;
}

.contacts__item{
	margin: 1.25rem;
}

/*--------Footer-----------*/

.footer{
	flex: 0 0 auto;
	background: rgba(44, 44, 44, .7);
	height: 9.3rem;
	margin-top: -9.1rem;
	z-index: 100;
	color: rgb(151, 151, 151);
}

.footer__top, .footer__bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__top{
	height: 50%;
	border-bottom: 1px solid gray;
}

.footer__top_left,.footer__top_right{
	width: 50%;
	display: flex;
}

.footer__top_left{
	justify-content: flex-start;
}

.footer__top_right{
	justify-content: flex-end;
	margin-top: 10px;
}

.footer__nav, .footer__social{
	margin: auto 0;
}

.footer__nav_list{
	display: flex;
}

.footer__nav_list_item{
	display: flex;
	margin: 0 2rem;
	color: white;
}

.nav__list_link{
	transition: .3s;
}

.nav__list_link:hover{
	color: #55dbc5;
}

.footer__nav_list, .footer__social_list{
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 0;
}

.footer__social_list_item{
	display: flex;
	margin: 0 2rem;
	height: 2.25rem;
	width: 2.25rem;
}

.footer__bottom{
	height: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer__bottom_left, .footer__bottom_right{
	margin: 0 2rem;
}

/*--------Adaptive-----------*/
@media screen and (max-width: 1150px){
	.about{
		height: 180vh;
	}
}

@media screen and (max-width: 1055px) {
	.about{
		height: 1900px;
	}
	.about__wrap{
		flex-direction: column;
	}
	.triangle__right{
		fill: rgb(239, 238, 233);
	}
	.about__left{
		width: 100%;
		height: 900px;
	}
	.about__right{
		width: 100%;
		height: 1000px;
		align-items: center;
	}
	.skills-list__item{
		text-align: center;
	}
	.skills-row__list{
		justify-content: center;
		padding: 0;
	}
}

@media screen and (max-width: 770px){
	.map{
		height: 120vh;
	}
	.footer{
		height: 15.3rem;
		margin-top: -15.1rem;
	}
	.footer__top{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.footer__bottom{
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		text-align: center;
	}
	.footer__bottom_left{
		margin-bottom: 1.75rem;
	}
	.footer__top_left,.footer__top_right{
		width: 100%;
		justify-content: center;
	}
}

@media screen and (max-width: 563px){
	html{
		font-size: 14px;
	}
	.about{
		height: 1800px;
	}
	.about__left{
		height: 800px;
	}
	.about__right{
		height: 1000px;
	}
}

@media screen and (max-width: 450px) {
	.about__left_title{
		margin: 1rem auto;
	}
	.block-subtitle{
		margin: 1rem auto;
	}
	.user-desc__image{
		width: 100%;
	}

	.text-block{
		width: 100%;
		padding: .8rem;
	}
	.about__right-content{
		width: 100%;
	}
	.skills-list{
		padding: 0;
	}
	.contacts{
		top: 0;
		left: 0;
		transform: none;
		width: 100%;
		border-radius: 0;
		background: #fff;
	}
	.footer{
		font-size: .9rem;
	}
	.footer__nav{
		width: 100%;
	}
	.footer__nav_list{
		justify-content: center;
	}
	.footer__nav_list_item{
		width: 20%;
		margin: 0;
	}
}

@media screen and (max-width: 400px){
	.about{
		height: 2000px;
	}
	.about__left{
		height: 800px;
	}
	.about__right{
		height: 1200px;
	}
}

@media screen and (max-width: 345px){

}