@font-face {
	font-family: "Roboto";
	src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Bernier";
	src: url(/fonts/BERNIERDistressed-Regular.otf);
}

*{
	box-sizing: border-box;
}

html,body{
	font: 16px/1.5em;
	font-family:'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: white;
}


/*--------Modal window-----------*/
#window-modal{
	position: absolute;
	top: -999px;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: rgba($color: #55dbc5, $alpha: .8);
	display: none;
	font-family: 'Bernier';
	text-align: center;
	font-size: 3.94rem;
	color: white;
	transition: 1s;
}
#window-modal__list{
	margin: auto;
	padding: 0;
}
.window-modal__item{
	margin-bottom: 4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	opacity: .7;
}
.window-modal__item:hover{
	opacity: 1;
}
#window-modal__close-btn{
	transform: rotate(45deg);
	cursor: pointer;
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: .5rem;
	right: .5rem;
}
.rectangle{
	width: 2rem;
	height: .5rem;
	background: white;
	transition: .3s;
	margin: 0 1rem;
}