doctype html
html
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		block head
	body
		#window-modal
				ul#window-modal__list
					li#window-modal__item
						a МОИ РАБОТЫ
					li#window-modal__item
						a ОБО МНЕ
					li#window-modal__item
						a БЛОГ
					li#window-modal__item
						a АВТОРИЗАЦИЯ
		block content

