@font-face {
	font-family: "Roboto";
	src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Bernier";
	src: url(/fonts/BERNIERDistressed-Regular.otf);
}

*{
	box-sizing: border-box;
}

html,body{
	font: 16px/1.5em;
	font-family:'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: white;
}
/*--------Hero-----------*/
.hero{
  background: url(../../images/background/bg.jpg);
  background-size: cover;
	flex-direction: column;
	justify-content: space-between;
	min-height: 650px;
}
.arrow-down {
  width: 100%;
  text-align: center;
  height: 10vh;
  margin: 0 auto 2rem;
  position: relative;
  bottom: 2rem;
}
.hero__sec{
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	opacity: .2;
	width: 40rem;
	margin: auto;
	text-align: center;
}
.hero__sec-img{
	max-width: 100%;
}
.hero__title{
	width: 21rem;
	height: 26.5rem;
	color: #fff;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 15%;
	left: 0;
	right: 0;
}
.head{
	width: 100%;
	height: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}
.rectangle{
	width: 1.25rem;
	height: .3rem;
	background: #435460;
	opacity: .7;
	margin: 0 1rem;
}
.title-rectangle__wrap{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*--------Icons-----------*/
.icon{
	font-size: 1.2rem;
	transition: .3s;
	color: white;
	cursor: pointer;
	opacity: .5;
}

.icon:hover{
	opacity: 1;
}

.icon-hamburger{
	font-size: 2rem;
}
.footer__social_link{
	color: rgb(151, 151, 151);
}
/*--------Modal window-----------*/
#window-modal{
	position: absolute;
	top: -999px;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background: rgba($color: #55dbc5, $alpha: .8);
	display: none;
	font-family: 'Bernier';
	text-align: center;
	font-size: 3.94rem;
	color: white;
	transition: 1s;
}
#window-modal__list{
	margin: auto;
	padding: 0;
}
.window-modal__item{
	margin-bottom: 4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	opacity: .7;
	transition: .3s;
}
.window-modal__item:hover{
	opacity: 1;
}
#window-modal__close-btn{
	transform: rotate(45deg);
	cursor: pointer;
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: .5rem;
	right: .5rem;
}
.rectangle-white{
	width: 2rem;
	height: .5rem;
	background: white;
	transition: .3s;
	margin: 0 1rem;
}

/*--------Preloader----------*/
#loader__area{
	background: #00b69e;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	z-index: 100000;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1.5s;
}
#loader__text{
	font-size: 15px;
	font-weight: bold;
	color: white;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.round1, .round1::before, .round1::after{
	border: 3px solid transparent;
	border-radius: 50%;
}

.round1{
	width: 150px;
	height: 150px;
	margin: 50px auto;
	position: relative;
	border-top-color: #ffffff;
	animation: spin 1s infinite linear;
}

.round1::before, .round1::after{
	content: '';
	position: absolute;
}

.round1::before{
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-top-color: #ffffff;
	animation: spin 2s infinite linear;
}

.round1::after{
	top: 23px;
	left: 23px;
	right: 23px;
	bottom: 23px;
	border-top-color: #ffffff;
	animation: spin 3s infinite linear;
}

.anti::after{
	animation: antispin .5s infinite linear;
	top: 43px;
	left: 43px;
	right: 43px;
	bottom: 43px;
	border-bottom-color: #ffffff;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin{
	from {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes antispin {
	from {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

@keyframes antispin{
	from {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	visibility: visible !important;
}
@keyframes slideDown{
	0%{
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}
@-webkit-keyframes slideDown {
	0%{
		-webkit-transform: translateY(-100%);
	}
	100% {
	-webkit-transform: translateY(0%);
	}
}

/*--------Adaptive-----------*/
@media screen and (max-width: 650px){
	.hero__sec{
		width: 90%
  }
}
@media screen and (max-width: 400px){
	#window-modal__list{
		width: 90%;
		font-size: 2.5rem;
	}
}
@media screen and (max-height: 480px){
	html{
		font-size: 14px;
  }
}
@media screen and (max-height: 430px){
  #window-modal__list{
		font-size: 2rem;
  }
  .arrow-down{
    bottom: 2rem;
  }
}
@media screen and (max-height: 380px){
	html{
		font-size: 12px;
	}
}