doctype html
html
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		block head
	body
		#loader__area
			.round1.anti
			#loader__text 0%
		#window-modal
			#window-modal__close-btn +
			ul#window-modal__list
				li.window-modal__item
					.rectangle-white
					a.window-modal__link(href='works.html') МОИ РАБОТЫ
					.rectangle-white
				li.window-modal__item
					.rectangle-white
					a.window-modal__link(href='about.html') ОБО МНЕ
					.rectangle-white
				li.window-modal__item
					.rectangle-white
					a.window-modal__link(href='blog.html') БЛОГ
					.rectangle-white
				li.window-modal__item
					.rectangle-white
					a.window-modal__link(href='index.html') АВТОРИЗАЦИЯ
					.rectangle-white
		block content

