@font-face {
	font-family: "Roboto";
	src: url(/fonts/Roboto-Regular.ttf);
}

*{
	box-sizing: border-box;
}

html,body{
	font: 100%/1.5em;
	font-family:'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: white;
}

input{
	margin: 0 0.3rem;
}

.subtitle{
	font-family: 'Bernier', sans-serif;
	font-size: 2.19rem;
	margin: 2.5rem 0;
}

.container{
	height: 100%;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.header{
	display: flex;
	justify-content: flex-end;
}

.content {
	display: flex;
	min-height: calc(100vh - 8vh);
	flex: 1 0 auto;
}

#singin__box{
	display: none;
	width: 11.25rem;
	height: 3.1rem;
	border: 1px solid white;
	border-radius: .3rem;
	color: white;
	text-align: center;
	margin-top: 1.25rem;
	transition: .3s;
}

.singin{
	margin: auto;
}

#singin__box:hover{
	background: #fff;
	color: #55dbc5;
	cursor: pointer;
}
.flip-container{
	height: 24.69rem;
	width: 23.75rem;
	margin: auto;
	perspective: 1000;
	-moz-perspective: 1000;
}

#flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	position: relative;
	height: 100%;
	width: 100%;
}

.welcome{
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .7);
	margin: auto;
	border-radius: .44rem;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding-top: 2rem;
	overflow: hidden;
	color: #435460;
}

.front{
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.back{
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .7);
	color: #435460;
	border-radius: .44rem;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg);
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.welcome__img{
	display: flex;
	justify-content: center;
	height: 12.5rem;
}

.welcome__img_ava{
	display: flex;
	width: 8.75rem;
	height: 8.44rem;
	border-radius: 50%;
	max-width: 100%;	
}

.welcome__text{
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin: 1rem auto;
}

.welcome__title{
	text-align: center;
	color: #34454e;
	margin: 0 auto;
}

.welcome__title_small{
	text-align: center;
	color: #546570;
	font-size: .88rem;
	padding: .63rem 0;
}

.welcome__socials_icon{
	color: #00b69e;
}

.icon{
	font-size: 1.2rem;
	color: #00b69e;
	transition: .3s;
}

.icon:hover{
	color: white;
}

.nav__list{
	display: flex;
	justify-content: space-around;
	color: white;
	padding: 0;
	opacity: .7;
	margin-bottom: 0;
	font-weight: bold;
}

.nav__list_item{
	text-align: center;
	width: 33.33%;
	height: 3.1rem;;
	background-color: #00b69e;
	line-height: 3.1rem;
	transition: .3s;
}

.nav__list_item:hover{
	background-color: #008f83;
	cursor: pointer;
}

.item_m{
	margin-right: 1px;
}

.nav__list_link{
	display: block;
	height: 100%;
}

.welcome__socials{
	display: flex;
	justify-content: center;
	height: 10vh;
}

.welcome__socials_icon{
	margin: auto 1.25rem;
}

.footer{
	color: gray;
	height: 7vh;
	width: 100%;
	flex: 0 0 auto;
}

.footer__text{
	font-size: .75rem;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.back-input__wrap{
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.input-container{
	display: flex;
	align-items: center;
}
.input-icon__wrap{
	border-radius: 5px 0 0 5px;
	height: 2rem;
	width: 2rem;
	background: rgba(121, 131, 132, .4);
	display: flex;
}
.input__icon{
	margin: auto;
}
.back__input{
	border-radius: 0 5px 5px 0;
	height: 2rem;
	padding: 0.5rem;
	margin: 0.3rem 0.3rem 0.3rem 0;
}
.test-human__wrap{
	display: flex;
}
#test-human:checked + .test-human__text{
	color: #00b69e;
}
#yes:checked + .text-yes{
	color: #00b69e;
}
#no:checked + .text-no{
	color: #00b69e;
}

.test-robot__wrap{
	display: flex;
}

.back__nav{
	width: 100%;
}
.back__btn{
	width: 50%;
}

/*--------Parallax-----------*/

#parallax{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgb(218, 219, 211);
	z-index: -3;
}
.parallax__layer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.parallax__image{
	width: 120%;
	height: 120%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*--------Adaptive-----------*/

@media screen and (max-width: 770px){
	.flip-container{
		width: 21.75rem;
	}
}

@media screen and (max-width: 350px){
	html{
		font-size: 14px;
	}
	.header{
		justify-content: center;
	
	}
	.flip-container{
		height: 28.2rem;
	}
}