@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?tvx3sx');
  src:  url('/fonts/icomoon.eot?tvx3sx#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?tvx3sx') format('truetype'),
    url('/fonts/icomoon.woff?tvx3sx') format('woff'),
    url('/fonts/icomoon.svg?tvx3sx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-works_header:before {
  content: "\e900";
  color: #6e7171;
}
.icon-telegram_logo:before {
  content: "\e901";
  color: #fff;
}
.icon-skype_n:before {
  content: "\e902";
}
.icon-skype:before {
  content: "\e903";
  color: #00bfa5;
}
.icon-portfolio_header:before {
  content: "\e904";
  color: #fefefe;
}
.icon-portf_arrow_up:before {
  content: "\e905";
  color: #fff;
}
.icon-portf_arrow_down:before {
  content: "\e906";
  color: #fff;
}
.icon-phone2:before {
  content: "\e907";
  color: #00bea4;
}
.icon-login:before {
  content: "\e908";
  color: #c4cbcd;
}
.icon-phone:before {
  content: "\e909";
  color: #00bfa5;
}
.icon-link:before {
  content: "\e90a";
  color: #fff;
}
.icon-in:before {
  content: "\e90b";
  color: #fff;
}
.icon-hamburger:before {
  content: "\e90c";
  color: #fff;
}
.icon-vk_round:before {
  content: "\e90d";
  color: #fff;
}
.icon-in_round:before {
  content: "\e90e";
  color: #fff;
}
.icon-github_round:before {
  content: "\e90f";
  color: #fff;
}
.icon-map_marker:before {
  content: "\e910";
  color: #00bea4;
}
.icon-github:before {
  content: "\e911";
  color: #fff;
}
.icon-phone_n:before {
  content: "\e912";
  color: #fff;
}
.icon-map_n:before {
  content: "\e913";
  color: #fff;
}
.icon-envelope_n:before {
  content: "\e914";
  color: #fff;
}
.icon-vk:before {
  content: "\e915";
  color: #fff;
}
.icon-envelope:before {
  content: "\e916";
  color: #00bfa5;
}
.icon-check:before {
  content: "\e917";
  color: #fff;
}
.icon-blog_header:before {
  content: "\e918";
  color: #fff;
}
.icon-about_header:before {
  content: "\e919";
  color: #6e7171;
}
.icon-password:before {
  content: "\e91a";
  color: #c4cbcd;
}
.icon-envelope2:before {
  content: "\e91b";
  color: #00bea4;
}
.icon-arrow_down:before {
  content: "\e91c";
  color: #fff;
}
