@font-face {
	font-family: "Roboto";
	src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Bernier";
	src: url(/fonts/BERNIERDistressed-Regular.otf);
}

*{
	box-sizing: border-box;
}

html,body{
	font: 16px/1.5em;
	font-family:'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: white;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.container {
	flex: 1 0 auto;
	margin-bottom: 15.3rem;
}

.section{
	height: 100vh;
	width: 100%;
	display: flex;
}

.title{
	font-family: 'Bernier', sans-serif;
	font-size: 3.9rem;
	margin: 4.3rem 0;
}
.subtitle{
	font-family: 'Bernier', sans-serif;
	font-size: 2.19rem;
	margin: 2.5rem 0;
}


/*--------Hero-----------*/

.hero{
	background: url(../../../images/background/bg.jpg) no-repeat;
	background-size: cover;
	flex-direction: column;
}

.head{
	width: 100%;
	height: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.socials{
	display: flex;
	flex-direction: row;
}

.socials__item{
	margin: .6rem 1.25rem;
}

.icon{
	font-size: 1.2rem;
	transition: .3s;
	opacity: .5;
}

.icon:hover{
	opacity: 1;
}

.icon-hamburger{
	color: white;
	cursor: pointer;
	font-size: 2rem;
}

.icon-arrow_down{
	color: white;
	opacity: .5;
	transition: .3s;
}

.icon-arrow_down:hover{
	opacity: 1;
}

.head__menu{
	margin: 1.25rem;
}

.hero__title{
	width: 21rem;
	height: 26.5rem;
	color: rgba(255, 255, 255, 0.904);
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-title{
	display: flex;
	justify-content: center;
}

.hero__user{
	text-align: center;
}

.section-title__pic{
	height: 9rem;
	width: 9rem;
	max-width: 100%;
	border-radius: 50%;
}

.user__name{
	margin: 1rem 0;
}

.arrow-down{
	widows: 2vw;
	height: 10vh;
	margin: 0 auto 2rem auto;
}

/*--------Content-----------*/


.triangle-box{
	width: 100%;
	margin-top: -8vw;
	height: 8vw;
}

.triangle__left, .triangle__right{
	fill: rgb(255, 255, 255);
}

.content{
	color: #54595e;
	display: flex;
	flex-direction: column;
}

.content__wrap{
	display: flex;
	flex-direction: row;
}

.sidebar{
	width: 25%;
	text-align: right;
	margin-top: 4rem;
}

.sidebar__item{
	margin: 15px 0;
	padding: 15px 20px;
}

.sidebar__item:hover{
	color: #00ccad;
	border-right: 3px solid #00ccad;
}

.paper__wrap{
	width: 75%;
	margin: 2.2rem 4.4rem;
}

.content__paper{
	overflow: hidden;
	border-bottom: 5px solid rgb(218, 218, 218);
	margin: 2.2rem 0;
}

.last__paper{
	border: none;
}

.paper__date{
	margin-bottom: 1.25rem;
	color: #00ccad;
}


/*--------Footer-----------*/

.footer{
	flex: 0 0 auto;
	background: rgba(44, 44, 44, .7);
	height: 9.3rem;
	margin-top: -9.1rem;
	z-index: 100;
	color: rgb(151, 151, 151);
}

.footer__top, .footer__bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__top{
	height: 50%;
	border-bottom: 1px solid gray;
}

.footer__top_left,.footer__top_right{
	width: 50%;
	display: flex;
}

.footer__top_left{
	justify-content: flex-start;
}

.footer__top_right{
	justify-content: flex-end;
}

.footer__nav, .footer__social{
	margin: auto 0;
}

.footer__nav_list{
	display: flex;
}

.footer__nav_list_item{
	display: flex;
	margin: 0 2rem;
	color: white;
	white-space: nowrap;
}

.nav__list_link{
	transition: .3s;
}

.nav__list_link:hover{
	color: #55dbc5;
}

.footer__nav_list, .footer__social_list{
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 0;
}

.footer__social_list_item{
	display: flex;
	margin: 0 2rem;
}

.icon-round{
	font-size: 2rem;
	transition: .3s;
}

.icon-round:hover{
	color: white;
}

.footer__bottom{
	height: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer__bottom_left, .footer__bottom_right{
	margin: 0 2rem;
}

/*--------Adaptive-----------*/

@media screen and (max-width: 820px){
	.paper__wrap{
		width: 100%;
		margin: 1.5rem .7rem;
	}
	.content__paper{
		width: 100%;
	}
	.sidebar{
		display: none;
	}
	.footer{
		height: 15.3rem;
		margin-top: -15.1rem;
	}
	.footer__top{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.footer__social{
		margin-top: 1.5rem;
	}
	.footer__bottom{
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		text-align: center;
	}
	.footer__bottom_left{
		margin-bottom: 1.75rem;
	}

	.footer__top_left,.footer__top_right{
		width: 100%;
		justify-content: center;
	}
}

@media screen and (max-width: 486px){
	html{
		font-size: 14px;
	}
	.footer{
		font-size: .9rem;
	}
	.footer__nav{
		width: 100%;
	}
	.footer__nav_list{
		justify-content: center;
	}
	.footer__nav_list_item{
		margin: 0 1rem;
	}
}

@media screen and (max-width: 330px){
	.footer__nav_list_item{
		margin: 0 .5rem;
	}
}