.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.container {
	flex: 1 0 auto;
	margin-bottom: 15.3rem;
}

.section{
	height: 100vh;
	width: 100%;
	display: flex;
}

.title{
	font-family: 'Bernier', sans-serif;
	font-size: 3.9rem;
	margin: 4.3rem 0;
}
.subtitle{
	font-family: 'Bernier', sans-serif;
	font-size: 2.19rem;
	margin: 2.5rem 0;
}

/*--------Hero-----------*/
.socials{
	display: flex;
	flex-direction: row;
}

.socials__item{
	margin: .6rem 1.25rem;
}

.head__menu{
	margin: 1.25rem;
}

.section-title{
	display: flex;
	justify-content: center;
}

.hero__user{
	text-align: center;
}

.section-title__pic{
	height: 9rem;
	width: 9rem;
	max-width: 100%;
	border-radius: 50%;
}

.user__name{
	margin: 1rem 0;
}
/*--------Content-----------*/
.content{
	color: #54595e;
	display: flex;
	flex-direction: column;
	position: relative;
}

.triangle-box{
	width: 100%;
	margin-top: -8vw;
	height: 8vw;
}

.triangle__left, .triangle__right{
	fill: rgb(255, 255, 255);
}

.content__wrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sidebar__wrap{
	width: 25%;
	margin-top: 3rem;
}

.sidebar{
	text-align: right;
	margin-top: 6.5rem;
}

.sidebar__item{
	margin: 15px 0;
	padding: 15px 20px;
	transition: .4s;
}

.sidebar__item:hover{
	color: #00ccad;
	border-right: 3px solid #00ccad;
}

.sidebar__link{
	color: #54595e;
}

.paper__wrap{
	width: 75%;
	margin: 2.2rem 4.4rem;
}

.content__paper{
	overflow: hidden;
	border-bottom: 5px solid rgb(218, 218, 218);
	margin: 2.2rem 0;
}

.last__paper{
	border: none;
}

.paper__date{
	margin-bottom: 1.25rem;
	color: #00ccad;
}


/*--------Footer-----------*/

.footer{
	flex: 0 0 auto;
	background: rgba(44, 44, 44, .7);
	height: 9.3rem;
	margin-top: -9.1rem;
	z-index: 100;
	color: rgb(151, 151, 151);
}

.footer__top, .footer__bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__top{
	height: 50%;
	border-bottom: 1px solid gray;
}

.footer__top_left,.footer__top_right{
	width: 50%;
	display: flex;
}

.footer__top_left{
	justify-content: flex-start;
}

.footer__top_right{
	justify-content: flex-end;
}

.footer__nav, .footer__social{
	margin: auto 0;
}

.footer__nav_list{
	display: flex;
}

.footer__nav_list_item{
	display: flex;
	margin: 0 2rem;
	color: white;
	white-space: nowrap;
}

.nav__list_link{
	transition: .3s;
}

.nav__list_link:hover{
	color: #55dbc5;
}

.footer__nav_list, .footer__social_list{
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 0;
}

.footer__social_list_item{
	display: flex;
	margin: 0 2rem;
}

.icon-round{
	font-size: 2rem;
	transition: .3s;
}

.icon-round:hover{
	color: white;
}

.footer__bottom{
	height: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer__bottom_left, .footer__bottom_right{
	margin: 0 2rem;
}

/*--------Adaptive-----------*/
@media screen and (max-width: 1200px){
	.sidebar{
		margin-right: 0;
		margin-left: 0;
		padding: 0;
	}
	.sidebar__list{
		padding: 0;
	}
	.sidebar__item{
		padding: 5px 10px;
	}
}

@media screen and (max-width: 820px){
	.paper__wrap{
		width: 100%;
		margin: 1.5rem .7rem;
		position: relative;
		margin-left: 2.5rem;
	}
	.content__paper{
		width: 100%;
	}
	.sidebar__wrap{
		background: #55dbc5;
		border-radius: 10px;
		margin-left: -25%; 
	}
	.sidebar{
		background: #55dbc5;
		border-radius: 0 .8rem .8rem 0;
		z-index: 5;
		position: absolute;
		left: -59%;
		max-width: 60%;
		transition: .5s;
	}
	.sidebar__link{
		color: white;
		opacity: .8;
		transition: .3s;
	}
	.sidebar__link:hover{
		opacity: 1;
	}
	.sidebar__item:hover{
		border-right: none;
	}
	#sidebar-open{
		cursor: pointer;
	}
	#sidebar-close{
		cursor: pointer;
		background: rgba(255, 255, 255, .8);
		color: #55dbc5;
		border-radius: .3rem;
		margin: 0 auto;
		width: 5rem;
		height: 2rem;
		display: flex;
		transition: .3s;
	}
	#sidebar-close:hover{
		background: rgba(255, 255, 255, 1);
	}
	.slider-close__text{
		margin: auto;
	}
	#sidebar-open:before {
		position: absolute;
		left: 100%;
		top: 50%;
		margin-top: -1.5rem;
		content: ' ';
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 1.5rem 0 1.5rem 1rem;
		border-color: transparent transparent transparent #55dbc5;
	}
	.footer{
		height: 15.3rem;
		margin-top: -15.1rem;
	}
	.footer__top{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.footer__social{
		margin-top: 1.5rem;
	}
	.footer__bottom{
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		text-align: center;
	}
	.footer__bottom_left{
		margin-bottom: 1.75rem;
	}

	.footer__top_left,.footer__top_right{
		width: 100%;
		justify-content: center;
	}
}

@media screen and (max-width: 486px){
	html{
		font-size: 14px;
	}
	.footer{
		font-size: .9rem;
	}
	.footer__nav{
		width: 100%;
	}
	.footer__nav_list{
		justify-content: center;
	}
	.footer__nav_list_item{
		margin: 0 1rem;
	}
}

@media screen and (max-width: 330px){
	.footer__nav_list_item{
		margin: 0 .5rem;
	}
}