extends ../base

block head
	title Мой блог
block content
	.container
		header.header
			.header__top
				.header__socials
				.header__hamburger
			.header__center
				.header__center_img
					img.header__center_img_ava(src=require("./img/avag.jpg"))
				h1.header__center_title БЛОГ
				.header__center_text Статьи, которые я написал
		section.content
			.content__paper
				h2.content__paper_title Самое важное в SASS
				.content__paper_date 22 ноября 2016
				.content__paper_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio nobis quos vero neque nulla aperiam vel, excepturi illum voluptatibus quae, sint molestias, amet dolor commodi quasi suscipit rem voluptates provident quisquam unde ut sit? Accusantium illum numquam nihil, error quia temporibus dignissimos consequuntur, nobis molestiae doloribus necessitatibus veritatis, esse commodi.
			.content__paper
				h2.content__paper_title Приёмы в вёрстке, без которых не обходится ни один сайт
				.content__paper_date 13 ноября 2016
				.content__paper_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eaque facilis nesciunt impedit in saepe alias veniam a? Porro et harum vitae! Cupiditate rerum placeat maxime animi aliquid et eos, natus repellat! Architecto ratione in vel unde optio veritatis molestiae quam quos accusantium consequatur error alias necessitatibus, qui praesentium! At.
		menu.sidebar
			ul.sidebar__list
				li.sidebar__list_item Самое важное в SASS
				li.sidebar__list_item Приёмы в вёрстке, без которых не обходится ни один сайт
				li.sidebar__list_item Самый необходимый набор Gulp плагинов
				li.sidebar__list_item Почему я выбрал Jade
			
		footer.footer
			.footer__top
				.footer__top_left
					nav.footer__nav
						ul.footer__nav_list
							li.footer__nav_list_item Мои работы
							li.footer__nav_list_item Обо мне
							li.footer__nav_list_item Блог
							li.footer__nav_list_item Авторизация
				.footer__top_right
					.footer__social
							ul.footer__social_list
								li.footer__social_list_item
								li.footer__social_list_item
								li.footer__social_list_item
			.footer__bottom
				.footer__bottom_left Я веб-разработчик из Твери и этот сайт я делал в рамках обучения в Школе онлайн образования LoftSchool
				.footer__bottom_right &copy;Соколов Дмитрий | создано с любовью в loftschool | 2017
