input, textarea{
	border-radius: 5px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.container {
	flex: 1 0 auto;
}

.section{
	height: 100vh;
	width: 100%;
	display: flex;
	color: rgb(52, 62, 66);
}
.title{
	font-family: 'Bernier', sans-serif;
	font-size: 3.9rem;
	margin: 4.3rem 0;
}
.subtitle{
	font-family: 'Bernier', sans-serif;
	font-size: 2.19rem;
	margin: 2.5rem 0;
}

/*--------Hero-----------*/

.socials{
	display: flex;
	flex-direction: row;
}

.socials__item{
	margin: .6rem 1.25rem;
}

.head__menu{
	margin: 1.25rem;
}

.section-title{
	display: flex;
	justify-content: center;
}

.hero__user{
	text-align: center;
}

.user__data{
	color: #cfdbdf;
}

.section-title__pic{
	height: 9rem;
	width: 9rem;
	max-width: 100%;
	border-radius: 50%;
}

.user__name{
	font-size: 2rem;
}

/*--------MyWorks-----------*/

.works{
	display: flex;
	flex-direction: column;
	position: relative;
}

.triangle-box{
	width: 100%;
	margin-top: -8vw;
	height: 8vw;
}

.triangle__left, .triangle__right{
	fill: #f9faef;
}

.works__title_wrap{
	background: #f9faef;
	text-align: center;
	background-image: url(../../../images/icons/works_header.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.works-content{
	display: flex;
	flex-direction: row;
	height: 33.33rem;
	width: 100%;
	background: #eff0e8;
	position: relative;
}

.slider__btn{
	display: flex;
	width: 10%;
	color: #00ccad;
	text-align: center;
	overflow: hidden;
}

.icon-portf_arrow_down{
	margin: auto;
	cursor: pointer;
	transition: .3s;
}
.icon-portf_arrow_down:hover{
	color: #007a79;
}
.btn-previous{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.btn-next{
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

.prev{
	transform: rotate(90deg);
}
.next{
	transform: rotate(-90deg);
}

.slider__wrap{
	position: absolute;
	top: 0;
	left: 10%;
	height: 100%;
	width: 80%;
	overflow: hidden;
}

.slider__list{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	position: absolute;
	top: 0;
	left: 0;
	transition: 1s;
	font-size: 0;
}

.slider__item{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: inline-flex;
	font-size: 1rem;

}

.works-content__left{
	width: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#work-1{
	background-image: url(./img/burgers.jpg);
}
#work-2{
	background-image: url(./img/geo_otziv.jpg);
}
#work-3{
	background-image: url(./img/about_me.jpg);
}

.works-content__right{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	text-align: center;
}

.works-content__title{
	font-size: 2rem;
}

.works-content__desc{
	margin: 2rem 0;
	border-top: 1px solid #00ccad;
	border-bottom: 1px solid #00ccad;
	padding: 20px 0;
	width: 66.66%;
	color: #00ccad;
}

.works-content__site{
	width: 12.5rem;
	height: 3.12rem;
	background: #00ccad;
	color: #fff;
	border-radius: 5px;
	display: flex;
	transition: .3s;
}

.works-content__site:hover{
	background: #007a79;
}

.site__text{
	margin: auto; 
}

.works-content__right{
	width: 50%;
	background: #eeeddf;
}


/*--------Reviews-----------*/

.reviews{
	height: 90rem;
	background: url(../../../images/background/bgReviews.jpg) no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.reviews__title_wrap{
	background-image: url(../../../images/icons/about_header_white.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	width: 100%;
}

.reviews__list{
	width: 46.88rem;
	height: 13rem;
	display: flex;
	text-align: left;
	padding: 0;
	margin-bottom: 4rem;
}

.reviews__item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 2.5rem;
}

.reviews__quotes{
	width: 2rem;
	height: 2rem;
	margin-bottom: .5rem;
}

.reviews__autor{
	display: flex;
	align-items: center;
}

.reviews__ava{
	border-radius: 50%;
}

.autor__info{
	margin-left: 1.25rem;
	color: #00ccad;
}

.reviews__name{
	margin-bottom: 1rem;
	font-weight: bold;
}

.form__wrap{
	position: relative;
	width: 25rem;
	height: 35rem;
	overflow: hidden;
	border-radius: .7rem;
}

.reviews__form, .blur{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.blur{
	z-index: 99;
	background: url(../../../images/background/bgReviews.jpg) no-repeat center;
	width: 25rem;
	height: 35rem;
	filter: blur(20px);
}

.reviews__form{
	width: 25rem;
	height: 35rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 100;
}

#form__name, #form__email, #form__message{
	margin: 0 .8rem;
	padding: .8rem;
}

#form__name, #form__email{
	height: 3rem;
}

.reviews__btn{
	display: flex;
}

.form__btn{
	width: 50%;
	height: 3rem;
	background: #00ccad;
	vertical-align: middle;
	color: #fff;
	display: flex;
	transition: .3s;
	cursor: pointer;
}

.form__btn:hover{
	background: #007a79;
}

.btn__text{
	margin: auto;
}

#btn__send{
	border-right: 1px solid white;
}
/*--------Footer-----------*/

.footer{
	flex: 0 0 auto;
	background: rgba(44, 44, 44, .7);
	height: 9.3rem;
	margin-top: -9.1rem;
	z-index: 100;
	color: rgb(151, 151, 151);
}

.footer__top, .footer__bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__top{
	height: 50%;
	border-bottom: 1px solid gray;
}

.footer__top_left,.footer__top_right{
	width: 50%;
	display: flex;
}

.footer__top_left{
	justify-content: flex-start;
}

.footer__top_right{
	justify-content: flex-end;
}

.footer__nav, .footer__social{
	margin: auto 0;
}

.icon-round{
	font-size: 2rem;
	transition: .3s;
}

.icon-round:hover{
	color: white;
}

.footer__nav_list{
	display: flex;
}

.footer__nav_list_item{
	display: flex;
	margin: 0 2rem;
	color: white;
	white-space: nowrap;
}
.nav__list_link{
	transition: .3s;
}

.nav__list_link:hover{
	color: #55dbc5;
}

.footer__nav_list, .footer__social_list{
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 0;
}

.footer__social_list_item{
	display: flex;
	margin: 0 2rem;
}

.footer__bottom{
	height: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer__bottom_left, .footer__bottom_right{
	margin: 0 2rem;
}

/*--------Adaptive-----------*/

@media screen and (max-width: 820px){
	.works{
		height: 900px;
	}
	.works-content{
		height: 100%;
		flex-direction: row;
	}
	.slider__list{
		width: 100%;
	}
	.slider__item{
		display: inline-flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		width: 100%;
	}
	.works-content__left{
		height: 50%;
		width: 100%;
	}
	.works-content__right{
		width: 100%;
		background: #eef2e7;
	}
	.reviews__list{
		width: 100%;
	}
	.reviews__item{
		width: 50%;
		margin-left: 10px;
	}
	.footer{
		height: 15.3rem;
		margin-top: -15.1rem;
	}
	.footer__top{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.footer__bottom{
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
	}
	.footer__bottom_left{
		margin-bottom: 1.75rem;
	}
	.footer__top_left,.footer__top_right{
		width: 100%;
		justify-content: center;
	}
	.footer__top_right{
		margin-top: 1rem;
	}
}

@media screen and (max-width: 550px){
	html{
		font-size: 14px;
	}
	.works{
		height: 700px;
	}
	.subtitle{
		margin: 1rem 0;
	}
	.works-content__desc{
		margin: 1rem 0;
	}
	.reviews{
		height: 1600px;
	}
	.reviews__list{
		height: 450px;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.reviews__text{
		margin-bottom: 10px;
	}
	.footer__nav_list_item{
		margin: .5rem;
	}
	.footer__bottom_left{
		margin-bottom: .5rem;
	}
}

@media screen and (max-width: 450px){
  .works{
		height: 600px;
	}
	.reviews__item{
		width: 80%;
	}
	.footer{
		font-size: .9rem;
	}
}
@media screen and (max-width: 370px){
	.form__wrap{
		width: 90%;
	}
	.reviews__form{
		width: 100%;
	}
	.blur{
		width: 100%;
	}
	.rectangle{
		display: none;
	}
}